In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

22/04/26 15:16:37 WARN Utils: Your hostname, MacBook-Pro-di-Alessandro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.187 instead (on interface en0)
22/04/26 15:16:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/26 15:16:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.option('header',True).csv('resources/titanic.csv')

In [4]:
df.printSchema()

root
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Siblings/Spouses Aboard: string (nullable = true)
 |-- Parents/Children Aboard: string (nullable = true)
 |-- Fare: string (nullable = true)

In [6]:
df.show()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                      0|                      0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|     18|
|       1|     3|Mrs. Fatima Masse...|female| 22|                      0|                      0|  7.225|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows

In [8]:
df_out = spark.read.json('output')

In [9]:
df_out.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Fare: long (nullable = true)
 |-- LiteralColumn: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parents/Children_Aboard: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Siblings/Spouses_Aboard: string (nullable = true)
 |-- Timezone: string (nullable = true)
 |-- Survived: integer (nullable = true)

In [10]:
df_out.show()

+---+----+--------------------+--------------------+-----------------------+------+------+-----------------------+-----------+--------+
|Age|Fare|       LiteralColumn|                Name|Parents/Children_Aboard|Pclass|   Sex|Siblings/Spouses_Aboard|   Timezone|Survived|
+---+----+--------------------+--------------------+-----------------------+------+------+-----------------------+-----------+--------+
| 22|   7|2022-04-22T18:18:...|Mr. Owen Harris B...|                      0|     3|  male|                      1|Europe/Rome|       0|
| 35|   8|2022-04-22T18:18:...|Mr. William Henry...|                      0|     3|  male|                      0|Europe/Rome|       0|
| 27|   8|2022-04-22T18:18:...|     Mr. James Moran|                      0|     3|  male|                      0|Europe/Rome|       0|
| 54|  51|2022-04-22T18:18:...|Mr. Timothy J McC...|                      0|     1|  male|                      0|Europe/Rome|       0|
|  2|  21|2022-04-22T18:18:...|Master. Gosta Leo...|                      1|     3|  male|                      3|Europe/Rome|       0|
| 20|   8|2022-04-22T18:18:...|Mr. William Henry...|                      0|     3|  male|                      0|Europe/Rome|       0|
| 39|  31|2022-04-22T18:18:...|Mr. Anders Johan ...|                      5|     3|  male|                      1|Europe/Rome|       0|
| 14|   7|2022-04-22T18:18:...|Miss. Hulda Amand...|                      0|     3|female|                      0|Europe/Rome|       0|
|  2|  29|2022-04-22T18:18:...| Master. Eugene Rice|                      1|     3|  male|                      4|Europe/Rome|       0|
| 31|  18|2022-04-22T18:18:...|Mrs. Julius (Emel...|                      0|     3|female|                      1|Europe/Rome|       0|
| 35|  26|2022-04-22T18:18:...| Mr. Joseph J Fynney|                      0|     2|  male|                      0|Europe/Rome|       0|
|  8|  21|2022-04-22T18:18:...|Miss. Torborg Dan...|                      1|     3|female|                      3|Europe/Rome|       0|
| 26|   7|2022-04-22T18:18:...|Mr. Farred Chehab...|                      0|     3|  male|                      0|Europe/Rome|       0|
| 19| 263|2022-04-22T18:18:...|Mr. Charles Alexa...|                      2|     1|  male|                      3|Europe/Rome|       0|
| 23|   7|2022-04-22T18:18:...|  Mr. Lalio Todoroff|                      0|     3|  male|                      0|Europe/Rome|       0|
| 40|  27|2022-04-22T18:18:...|Don. Manuel E Uru...|                      0|     1|  male|                      0|Europe/Rome|       0|
| 66|  10|2022-04-22T18:18:...|Mr. Edward H Wheadon|                      0|     2|  male|                      0|Europe/Rome|       0|
| 28|  82|2022-04-22T18:18:...|Mr. Edgar Joseph ...|                      0|     1|  male|                      1|Europe/Rome|       0|
| 42|  52|2022-04-22T18:18:...|Mr. Alexander Osk...|                      0|     1|  male|                      1|Europe/Rome|       0|
| 21|   8|2022-04-22T18:18:...|Mr. Ernest Charle...|                      0|     3|  male|                      0|Europe/Rome|       0|
+---+----+--------------------+--------------------+-----------------------+------+------+-----------------------+-----------+--------+
only showing top 20 rows